server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    aws:
      region:
        static: us-east-2
      secretsmanager:
        enabled: true
    config:
      server:
        git:
          uri: https://github.com/evandroaabrem/springconfig.git
          default-label: main
          clone-on-start: true

